// Navigation Styles here
.navigation{
    .displayFlex(center, center);
    .containerNav{
        .displayFlex(center, center);
        width:100%;
        nav{
            .displayFlex (space-between, center);
            padding:4% 3%;
            width: 100%;
            a{
                font-size:1.5rem;
                text-decoration:none;
                color:@font-color;
            }
        }
        h1{
            width:100%;
        }
        max-width: 800px;
    }
    .borderBottom();

}
