// Navigation Styles here
.navigation{
    .displayFlex(space-between, center);
    nav{
        .displayFlex (space-between, center);
        padding:1%;
        a{
            padding:1.5rem 5rem;
            background-color:red;
        }
    }
    .borderBottom();
    padding:0px 400px;
}
