// Navigation Styles here
.navigation{
    .displayFlex(space-between, center);
    nav{
        .displayFlex (space-between, center);
        padding:4% 2%;
        width: 45%;
        a{
            font-size:1.5rem;
            padding:1%;
            text-decoration:none;
            color:@font-color;
        }
    }
    .borderBottom();
    padding: 0px 500px;
}
